[submodule "ThirdParty/Render-Deploy"]
	path = ThirdParty/Render-Deploy
	url = https://github.com/TotteKarlsson/render-deploy.git
[submodule "ThirdParty/Render-Python-Apps"]
	path = ThirdParty/Render-Python-Apps
	url = https://github.com/TotteKarlsson/render-python-apps.git
