[submodule "ThirdParty/Render-Deploy"]
	path = ThirdParty/Render-Deploy
	url = https://github.com/TotteKarlsson/render-deploy.git
[submodule "ThirdParty/Render-Python-Apps"]
	path = ThirdParty/Render-Python-Apps
	url = https://github.com/AllenInstitute/render-python-apps.git
[submodule "ThirdParty/Render-Modules"]
	path = ThirdParty/Render-Modules
	url = https://github.com/AllenInstitute/render-modules.git
[submodule "ThirdParty/atPipeline"]
	path = ThirdParty/atPipeline
	url = https://github.com/AllenInstitute/atPipeline
[submodule "ThirdParty/at_modules"]
	path = ThirdParty/at_modules
	url = https://github.com/AllenInstitute/at_modules
[submodule "Testing/HelloClang/dsl-tp"]
	path = Testing/HelloClang/dsl-tp
	url = https://bitbucket.org/TotteKarlsson/dsl-tp/
[submodule "Testing/HelloClang/dsl"]
	path = Testing/HelloClang/dsl
	url = https://bitbucket.org/TotteKarlsson/dslib
